
<template name="topicPage">
<div class="lala nopadding">
    <h3>{{name}}</h3>
    </div>
        <div class="content">
    {{> posts}}
  </div>
</template>


<template name="addPost">
<div class="lala bottom">
    <form>
        Write a comment:
        <input type="text" placeholder="Type something here..." name="postName">
    </form>
    </div>
</template>

<template name="posts">

  {{> addPost}}
  <div class="wrapper">
    <h2>Posts</h2>
    <ul class="post">
    {{#each post}}
        {{> postItem}}
    {{/each}}
    </ul>
    </div>

</template>

<template name="postItem">
    <li>
      <div class="list-group">
      {{name}}
      {{#if isowner createdBy}}
       <br>[<a href="#" class="delete-post">Delete</a>]
    {{else}}
     {{#each owner createdBy}}
     - <a href="{{pathFor route='chatroom'}}" class="user">  {{username}} </a>
    {{/each}}
    {{/if}}
    </div>
    </li>
</template>
