
<template name="chatroom">
    <h2>Private Chat  </h2>
        <div class="content">
        <div class="wrapper">
  {{> messages}}
  {{> addMessage}}
  </div>
  </div>
</template>

<template name="messages">
  <ul class="chatlist">
  {{#each msgs}}
  <li>
  <span class="name">{{name}}</span>: {{text}}
</li>
  {{/each}}
</ul>
</template>


<template name="addMessage">
<div class="formpadding">
  <form>Write a message:
      <textarea id="message" name="message"></textarea><!--<input type="text" id="message"  name="message">-->
      <input type="submit" />
  </form>
  </div>
</template>
